/* About Section */
#AboutSection {
  display: flex;
  cursor: default;
  flex-direction: column;
  align-items: center;
  /* padding: 25px 20px; */
  /* background: linear-gradient(145deg, #1e1e1e, #292929);  */
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5); /* Adds depth */
}

/* About Column */
#AboutCol {
  max-width: 800px;
  text-align: left;
}
#AboutCol h1{
  animation: fadeIn 1s ease-in-out;
  font-size: 2.5rem;
}

/* About Main Content */
#AboutMain {
  margin-bottom: 30px;
}

#AboutMain p {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #e0e0e0; /* Softer white for better readability */
  animation: slideUp 0.5s ease-in-out;

}
/* Highlight Heading */
#AboutCol h1, #Qualification h2 {
  color: #61DBFB; /* React's primary color */
  /* font-size: 2rem; */
  margin-bottom: 20px;
  text-align: center;

}
#Qualification h2{
  color: #a8d5e2;
}

/* Qualification Section */
#Qualification {
  margin-top: 20px;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  animation: slideUp 0.5s ease-in-out;
  transition: transform 0.3s, box-shadow 0.3s;

}
#Qualification:hover {
  transform: translateY(-10px);
  background-color: #242424;

  box-shadow: 0px 6px 20px rgba(145, 144, 144, 0.7); /* Hover effect */
}

#SubCol {
  margin-left: 10px;
}

#Qualification h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffcc00; /* Highlight color for headings */
}

#Qualification p {
  margin: 5px 0;
  font-size: 16px;
  color: #cccccc;
}


/* Hover Effect */
/* #AboutCol p:hover {
  color: #61DBFB;
  transition: color 0.3s ease;
} */

/* Responsive Styling */
@media (max-width: 768px) {
  #AboutSection {
    padding: 30px 10px;
  }

  #AboutCol {
    max-width: 90%;
  }

  #AboutMain p {
    font-size: 16px;
  }

  #AboutCol h1, #Qualification h2 {
    font-size: 28px;
  }
}
